openapi: 3.0.0
info:
  title: ESSAuth
  version: '1.0'
servers:
  - url: 'https://esscontacts.newpathstudio.com.au/api/v1/wsdl/essauth?wsdl'
paths:
  addUser:
    post:
      summary: Create New User
      operationId: post-user
      responses:
        '200':
          description: User Created
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              hash:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                              name_first:
                                type: string
                                minLength: 1
                              name_last:
                                type: string
                                minLength: 1
                              mobile:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              client_match:
                                type: string
                                minLength: 1
                            required:
                              - hash
                              - email
                              - name_first
                              - name_last
                              - mobile
                              - phone
                              - client_match
                        required:
                          - parameters
                    required:
                      - addUserResponse
                required:
                  - Body
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
            application/json:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                type: object
                properties: {}
            text/html:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              hash:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                              name_first:
                                type: string
                                minLength: 1
                              name_last:
                                type: string
                                minLength: 1
                              mobile:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              client_match:
                                type: string
                                minLength: 1
                            required:
                              - hash
                              - email
                              - name_first
                              - name_last
                              - mobile
                              - phone
                              - client_match
                        required:
                          - parameters
                    required:
                      - addUserResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:addUserResponse>
                    <parameters>
                    <hash>eyJpdiI6IlZNY2NlUWw4TEFtYVhyVW54R0FzdlE9PSIsInZhbHVlIjoiNlFlOXUxdWJ1WWRlUDVWOEJaQlZxa1wvYzJJRlBQQ0RF
                    K1g5ZTFnckNMZHY5M09DUEUwMVdsa21Fd3lOQjE1MzJKZ0dwbmRUdXhIUlNlb2FHbnVpZkxBPT0iLCJtYWMiOiIwNzZiZTkwNGMzYWM3MD
                    U1ZTFiYjA2NWVkYTg3ODMyYTNmYjljYWMyNjEwZjBiYzIzM2I1MGI1NjQxMDljNmZjIn0=</hash>
                    <email>harlan.gray4@gmail.com</email>
                    <name_first>Harlan</name_first>
                    <name_last>Gray</name_last>
                    <mobile>0421123456</mobile>
                    <phone>0421123456</phone>
                    <client_match>false</client_match>
                    </parameters>
                    </SOAP-ENV:addUserResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addUser:
                      type: object
                      properties:
                        addUser:
                          type: object
                          properties:
                            dob_day:
                              type: string
                              minLength: 1
                            dob_month:
                              type: string
                              minLength: 1
                            dob_year:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            name_first:
                              type: string
                              minLength: 1
                            name_last:
                              type: string
                              minLength: 1
                            mobile:
                              type: string
                              minLength: 1
                            phone:
                              type: string
                              minLength: 1
                            address_state:
                              type: string
                              minLength: 1
                            address_postcode:
                              type: string
                              minLength: 1
                            crn:
                              type: string
                              minLength: 1
                            confirmation:
                              type: string
                              minLength: 1
                            consent:
                              type: string
                              minLength: 1
                            passport:
                              type: object
                              properties:
                                number:
                                  type: string
                                  minLength: 1
                                country:
                                  type: string
                                  minLength: 1
                                country_code:
                                  type: string
                                  minLength: 1
                              required:
                                - number
                                - country
                                - country_code
                            password:
                              type: string
                              minLength: 1
                            security_code:
                              type: string
                              minLength: 1
                            ip_address:
                              type: string
                              minLength: 1
                          required:
                            - dob_day
                            - dob_month
                            - dob_year
                            - email
                            - name_first
                            - name_last
                            - mobile
                            - phone
                            - address_state
                            - address_postcode
                            - crn
                            - confirmation
                            - consent
                            - passport
                            - password
                            - security_code
                            - ip_address
                      required:
                        - addUser
                  required:
                    - addUser
              required:
                - Body
            examples:
              Create User Bob Fellow:
                value:
                  firstName: Bob
                  lastName: Fellow
                  email: bob.fellow@gmail.com
                  dateOfBirth: '1996-08-24'
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addUser>
                  <dev:addUser>
                  <dob_day>1</dob_day>
                  <dob_month>1</dob_month>
                  <dob_year>2000</dob_year>
                  <email>harlan.gray4@gmail.com</email>
                  <name_first>Harlan</name_first>
                  <name_last>Gray</name_last>
                  <mobile>0421123456</mobile>
                  <phone>0421123456</phone>
                  <address_state>vic</address_state>
                  <address_postcode>3153</address_postcode>
                  <crn>123456789E</crn>
                  <confirmation>1</confirmation>
                  <consent>1</consent>
                  <passport>
                  <number>123456789E</number>
                  <country>Australia</country>
                  <country_code>AU</country_code>
                  </passport>
                  <password>test$123</password>
                  <security_code>123456789</security_code>
                  <ip_address>19.168.0.1</ip_address>
                  </dev:addUser>
                  </dev:addUser>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |-
          DOB Day,Month,Year 
          Email
          First Name
          Last Name
          Mobile
          Phone
          Address State
          Address Postcode
          CRN number
          Confirmation
          Consent
          Passport Number
          Passport Cuuntry (By default Australia only)
          Passport Country Code (By default AU)
          Password
          Security Code
          Ip Address
      description: 'Creates a user in Essentials Connects API site , this created a reference for the Client that will be stored in BOS Admin site.'
    parameters: []
  /GetUser:
    post:
      summary: ''
      operationId: post-GetUser
      responses:
        '200':
          description: |-
            User Details
            First Name
            Last Name
            DOB
            Email
            Client Exists
            Client Match
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      getUserResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              user:
                                type: object
                                properties:
                                  name_first:
                                    type: string
                                    minLength: 1
                                  name_last:
                                    type: string
                                    minLength: 1
                                  dob:
                                    type: string
                                    minLength: 1
                                  email:
                                    type: string
                                    minLength: 1
                                required:
                                  - name_first
                                  - name_last
                                  - dob
                                  - email
                              client_exists:
                                type: string
                                minLength: 1
                              client_match:
                                type: string
                                minLength: 1
                            required:
                              - user
                              - client_exists
                              - client_match
                        required:
                          - parameters
                    required:
                      - getUserResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:getUserResponse>
                    <parameters>
                    <user>
                    <name_first>Harlan</name_first>
                    <name_last>Gray</name_last>
                    <dob>2000-01-01</dob>
                    <email>harlan.gray4@gmail.com</email>
                    </user>
                    <client_exists>false</client_exists>
                    <client_match>false</client_match>
                    </parameters>
                    </SOAP-ENV:getUserResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
            application/json:
              schema:
                type: object
                properties: {}
      description: Fetch User details using Email address and verify the same usign the hash provided.
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    getUser:
                      type: object
                      properties:
                        userDetails:
                          type: object
                          properties:
                            verify_details:
                              type: object
                              properties:
                                hash:
                                  type: string
                                  minLength: 1
                                email:
                                  type: string
                                  minLength: 1
                                ip_address:
                                  type: string
                                  minLength: 1
                              required:
                                - hash
                                - email
                                - ip_address
                          required:
                            - verify_details
                      required:
                        - userDetails
                  required:
                    - getUser
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:getUser>
                  <dev:userDetails>
                  <verify_details>
                  <hash>eyJpdiI6IlZNY2NlUWw4TEFtYVhyVW54R0FzdlE9PSIsInZhbHVlIjoiNlFlOXUxdWJ1WWRlUDVWOEJaQlZxa1wvYzJJRlBQQ0R
                  FK1g5ZTFnckNMZHY5M09DUEUwMVdsa21Fd3lOQjE1MzJKZ0dwbmRUdXhIUlNlb2FHbnVpZkxBPT0iLCJtYWMiOiIwNzZiZTkwNGMzYWM3M
                  DU1ZTFiYjA2NWVkYTg3ODMyYTNmYjljYWMyNjEwZjBiYzIzM2I1MGI1NjQxMDljNmZjIn0=</hash>
                  <email>harlan.gray4@gmail.com</email>
                  <ip_address>19.168.0.1</ip_address>
                  </verify_details>
                  </dev:userDetails>
                  </dev:getUser>
                  </soapenv:Body>
                  </soapenv:Envelope>
  /Login:
    post:
      summary: ''
      operationId: post-Login
      responses:
        '200':
          description: Hash
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    required:
                      - loginResponse
                    properties:
                      loginResponse:
                        type: object
                        required:
                          - parameters
                        properties:
                          parameters:
                            type: object
                            required:
                              - return
                            properties:
                              return:
                                type: object
                                required:
                                  - hash
                                properties:
                                  hash:
                                    type: string
                                    minLength: 1
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:loginResponse>
                    <parameters>
                    <return>
                    <hash>eyJpdiI6IlNXRTBhOHVaUmlWUTVHUkNidkVlcHc9PSIsInZhbHVlIjoiY0xFZ1Y5dHNscVBnbllsT3RzOCtINEVwQWc3bWJFWksy
                    RnYwblN3N0JEeUlKaHVPVVRHTW1KVkdneUVNN3VjQXZBbVRMUUxmMkphdTdlcForbEZFdGc9PSIsIm1hYyI6IjkwOWM1N2QwZDA2NWQw
                    OWYzZTA1ZWUzOGQ1ZDk1NzkyMzY3MmQyODFiMTc4NTc1NGU1YTFlODNiYTIxY2ZhNDYifQ==</hash>
                    </return>
                    </parameters>
                    </SOAP-ENV:loginResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
      description: Login API used to allow access to the Essentials Connects Site.
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    login:
                      type: object
                      properties:
                        login:
                          type: object
                          properties:
                            email:
                              type: string
                              minLength: 1
                            password:
                              type: string
                              minLength: 1
                            ip_address:
                              type: string
                              minLength: 1
                          required:
                            - email
                            - password
                            - ip_address
                      required:
                        - login
                  required:
                    - login
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:login>
                  <dev:login>
                  <email>harlan.gray4@gmail.com</email>
                  <password>test$123</password>
                  <ip_address>19.168.0.1</ip_address>
                  </dev:login>
                  </dev:login>
                  </soapenv:Body>
                  </soapenv:Envelope>
  /ApplyNow:
    post:
      summary: ''
      operationId: post-ApplyNow
      responses:
        '200':
          description: result
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      applyNowResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              result:
                                type: string
                                minLength: 1
                            required:
                              - result
                        required:
                          - parameters
                    required:
                      - applyNowResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:applyNowResponse>
                    <parameters>
                    <result>1</result>
                    </parameters>
                    </SOAP-ENV:applyNowResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
      description: Adds a record to apply_now_applications in essentials connects database but not in BOS admin site
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    applyNow:
                      type: object
                      properties:
                        applyNow:
                          type: object
                          properties:
                            name_first:
                              type: string
                              minLength: 1
                            name_last:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            mobile:
                              type: string
                              minLength: 1
                            phone:
                              type: string
                              minLength: 1
                            address_unit_number:
                              type: string
                              minLength: 1
                            address_number:
                              type: string
                              minLength: 1
                            address_name:
                              type: string
                              minLength: 1
                            address_city:
                              type: string
                              minLength: 1
                            address_postcode:
                              type: string
                              minLength: 1
                            address_state:
                              type: string
                              minLength: 1
                            product_id:
                              type: string
                              minLength: 1
                            comment:
                              type: string
                              minLength: 1
                          required:
                            - name_first
                            - name_last
                            - email
                            - mobile
                            - phone
                            - address_unit_number
                            - address_number
                            - address_name
                            - address_city
                            - address_postcode
                            - address_state
                            - product_id
                            - comment
                      required:
                        - applyNow
                  required:
                    - applyNow
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:applyNow>
                  <dev:applyNow>
                  <name_first>Harlan</name_first>
                  <name_last>Gray</name_last>
                  <email>harlan.gray@gmail.com</email>
                  <mobile>0421360421</mobile>
                  <phone>0421360421</phone>
                  <address_unit_number>24</address_unit_number>
                  <address_number>440</address_number>
                  <address_name>Stud Road</address_name>
                  <address_city>Bayswater</address_city>
                  <address_postcode>3153</address_postcode>
                  <address_state>VIC</address_state>
                  <product_id>1</product_id>
                  <comment>Some Comment</comment>
                  </dev:applyNow>
                  </dev:applyNow>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |-
          First Name
          Last Name
          Email
          Mobile
          Phone
          Address Unit Number
          Address Name
          Address City
          Address Number
          Address Postcode
          Address State
          Product Id
          Comment
  /addEnquiry:
    post:
      summary: ''
      operationId: post-addEnquiry
      responses:
        '200':
          description: returns 1
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addEnquiryResponse:
                        type: object
                        properties:
                          parameters:
                            type: string
                            minLength: 1
                        required:
                          - parameters
                    required:
                      - addEnquiryResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:addEnquiryResponse>
                    <parameters>1</parameters>
                    </SOAP-ENV:addEnquiryResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
      description: Adds an enquiry in public_enquiries in essentials connects and sends email to the email associated with the inquiry.
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addEnquiry:
                      type: object
                      properties:
                        addEnquiry:
                          type: object
                          properties:
                            name:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            contact:
                              type: string
                              minLength: 1
                            enquiry:
                              type: string
                              minLength: 1
                          required:
                            - name
                            - email
                            - contact
                            - enquiry
                      required:
                        - addEnquiry
                  required:
                    - addEnquiry
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addEnquiry>
                  <dev:addEnquiry>
                  <name>Harlan</name>
                  <email>harlan.gray@gmail.com</email>
                  <contact>0421360421</contact>
                  <enquiry>Some enqury</enquiry>
                  </dev:addEnquiry>
                  </dev:addEnquiry>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |
          Name
          Email
          Contact
          Enquiry
  /CanService:
    post:
      summary: ''
      operationId: post-CanService
      responses:
        '200':
          description: 'postcode , suburb, limited , products(Multiple)'
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      canServiceResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              postcode:
                                type: string
                                minLength: 1
                              suburb:
                                type: string
                                minLength: 1
                              service:
                                type: string
                                minLength: 1
                              limited:
                                type: string
                                minLength: 1
                              products:
                                type: array
                                items:
                                  required: []
                                  properties: {}
                            required:
                              - postcode
                              - suburb
                              - service
                              - limited
                              - products
                        required:
                          - parameters
                    required:
                      - canServiceResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:canServiceResponse>
                    <parameters>
                    <postcode>3153</postcode>
                    <suburb>Bayswater</suburb>
                    <service>1</service>
                    <limited>0</limited>
                    <products>1</products>
                    <products>2</products>
                    <products>3</products>
                    <products>4</products>
                    <products>5</products>
                    <products>807</products>
                    <products>999</products>
                    </parameters>
                    </SOAP-ENV:canServiceResponse>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
      description: List outs the Products that are available from given Postcode and Suburb
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    canService:
                      type: object
                      properties:
                        canService:
                          type: object
                          properties:
                            postcode:
                              type: string
                              minLength: 1
                            suburb:
                              type: string
                              minLength: 1
                          required:
                            - postcode
                            - suburb
                      required:
                        - canService
                  required:
                    - canService
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:canService>
                  <dev:canService>
                  <postcode>3153</postcode>
                  <suburb>Bayswater</suburb>
                  </dev:canService>
                  </dev:canService>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |-
          Postcode
          Suburb
  /Confirmation:
    post:
      summary: ''
      operationId: post-Confirmation
      description: 'Send token for Confirmation using Email or SMS , Note : No response is given'
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    confirmation:
                      type: object
                      properties:
                        confirmation:
                          type: object
                          properties:
                            verify_details:
                              type: object
                              properties:
                                hash:
                                  type: string
                                  minLength: 1
                                email:
                                  type: string
                                  minLength: 1
                                ip_address:
                                  type: string
                                  minLength: 1
                              required:
                                - hash
                                - email
                                - ip_address
                            type:
                              type: array
                              items:
                                required: []
                                properties: {}
                          required:
                            - verify_details
                            - type
                      required:
                        - confirmation
                  required:
                    - confirmation
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:confirmation>
                  <dev:confirmation>
                  <verify_details> <hash>eyJpdiI6IkFmczF2bnRcL0pCRWdoNEt3bTFFNjJ3PT0iLCJ2YWx1ZSI6IjVIMmI3UnBERkYzUldRNE56Q
                  XpNZGJHbnAyNFJ3Z3RiT0xGQUN6SnFjVmkxWHJrNCtuUFhqcXlMVDFtSVd4MFBNWlwvYVA3U0lRaWxZblNFMVBwQTFQdz09IiwibWFjIjoiY
                  WE5NmE0NzVkMDQ1ODNhNzI4MDAzZmVlZTlmOWY4ZWYzZWI5NzA5MDYxOTZiMjMzN2EzYWI4MGUzYzYzNmMzMSJ9</hash>
                  <email>harlan.gray4@gmail.com</email>
                  <ip_address>19.168.0.1</ip_address>
                  </verify_details>
                  <type></type>
                  </dev:confirmation>
                  </dev:confirmation>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |-
          Email
          HASH
          IP Address
  /ForgotPassword:
    post:
      summary: ''
      operationId: post-ForgotPassword
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    forgotPassword:
                      type: object
                      properties:
                        forgotPassword:
                          type: object
                          properties:
                            email:
                              type: string
                              minLength: 1
                            url:
                              type: array
                              items:
                                required: []
                                properties: {}
                          required:
                            - email
                            - url
                      required:
                        - forgotPassword
                  required:
                    - forgotPassword
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:forgotPassword>
                  <dev:forgotPassword>
                  <email>harlan.gray4@gmail.com</email>
                  <url></url>
                  </dev:forgotPassword>
                  </dev:forgotPassword>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: Email
      description: 'Send an email to user with password reset token. Note : No response is given.'
  /ResetPassword:
    post:
      summary: ''
      operationId: post-ResetPassword
      responses:
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      Fault:
                        type: object
                        properties:
                          faultcode:
                            type: string
                            minLength: 1
                          faultstring:
                            type: string
                            minLength: 1
                          detail:
                            type: object
                            properties:
                              InvalidSecurityTokenException:
                                type: object
                                properties:
                                  message:
                                    type: string
                                    minLength: 1
                                required:
                                  - message
                            required:
                              - InvalidSecurityTokenException
                        required:
                          - faultcode
                          - faultstring
                          - detail
                    required:
                      - Fault
                required:
                  - Body
              examples:
                Example Response:
                  value: |-
                    <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://dev.essentialconnects.com">
                    <SOAP-ENV:Body>
                    <SOAP-ENV:Fault>
                    <faultcode>SOAP-ENV:Server</faultcode>
                    <faultstring>Invalid security token</faultstring>
                    <detail>
                    <ns1:InvalidSecurityTokenException>
                    <message>Invalid security token</message>
                    </ns1:InvalidSecurityTokenException>
                    </detail>
                    </SOAP-ENV:Fault>
                    </SOAP-ENV:Body>
                    </SOAP-ENV:Envelope>
        '':
          content:
            application/xml:
              schema:
                type: object
                properties: {}
              examples:
                Example Response:
                  value: {}
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    resetPassword:
                      type: object
                      properties:
                        resetPassword:
                          type: object
                          properties:
                            email:
                              type: string
                              minLength: 1
                            hash:
                              type: string
                              minLength: 1
                            password:
                              type: string
                              minLength: 1
                          required:
                            - email
                            - hash
                            - password
                      required:
                        - resetPassword
                  required:
                    - resetPassword
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="http://dev.essentialconnects.com">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:resetPassword>
                  <dev:resetPassword>
                  <email>harlan.gray4@gmail.com
                  </email> <hash>eyJpdiI6IkFmczF2bnRcL0pCRWdoNEt3bTFFNjJ3PT0iLCJ2YWx1ZSI6IjVIMmI3UnBERkYzUldRNE56QXpNZGJHbnAyNF
                  J3Z3RiT0xGQUN6SnFjVmkxWHJrNCtuUFhqcXlMVDFtSVd4MFBNWlwvYVA3U0lRaWxZblNFMVBwQTFQdz09IiwibWFjIjoiYWE5NmE0NzVkMD
                  Q1ODNhNzI4MDAzZmVlZTlmOWY4ZWYzZWI5NzA5MDYxOTZiMjMzN2EzYWI4MGUzYzYzNmMzMSJ9</hash>
                  <password>test$1234</password>
                  </dev:resetPassword>
                  </dev:resetPassword>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |-
          Email
          Hash
      description: 'API to reset User Password , Response is passed as "TRUE" if success.'
  /addUserSnaffleStep1:
    post:
      summary: ''
      operationId: post-addUserSnaffle
      responses:
        '200':
          description: 'Email Already Exist '
        '201':
          description: Prospect Created Successfully
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserSnaffleResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              status:
                                type: string
                                minLength: 1
                              message:
                                type: string
                                minLength: 1
                              prospect_id:
                                type: string
                                minLength: 1
                              title:
                                type: string
                                minLength: 1
                              fname:
                                type: string
                                minLength: 1
                              lname:
                                type: string
                                minLength: 1
                              address_unit_number:
                                type: string
                                minLength: 1
                              address:
                                type: string
                                minLength: 1
                              dob:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                            required:
                              - status
                              - message
                              - prospect_id
                              - title
                              - fname
                              - lname
                              - address_unit_number
                              - address
                              - dob
                              - phone
                              - email
                        required:
                          - parameters
                    required:
                      - addUserSnaffleResponse
                required:
                  - Body
              examples:
                Example Request:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\t<SOAP-ENV:Body>\n\t\t<SOAP-ENV:addUserSnaffleResponse>\n\t\t\t<parameters>\n\t\t\t\t<status>200</status>\n\t\t\t\t<message>Prospect Created Successfully</message>\n\t\t\t\t<prospect_id>11</prospect_id>\n\t\t\t\t<title>Mr</title>\n\t\t\t\t<fname>test</fname>\n\t\t\t\t<lname>test</lname>\n\t\t\t\t<address_unit_number>205</address_unit_number>\n\t\t\t\t<address>Bayswater Rd, Darlinghurst NSW 2010, Australia</address>\n\t\t\t\t<dob>1994-08-07</dob>\n\t\t\t\t<phone>0478965432</phone>\n\t\t\t\t<email>test@user.com</email>\n\t\t\t</parameters>\n\t\t</SOAP-ENV:addUserSnaffleResponse>\n\t</SOAP-ENV:Body>\n</SOAP-ENV:Envelope>"
        '':
          description: |-
            {
               "Body": {
                  "addUserSnaffleResponse": {
                     "parameters": {
                        "status": "200",
                        "message": "Prospect Created Successfully",
                        "prospect_id": "9",
                        "title": "Mr",
                        "fname": "Priyal",
                        "lname": "Desai",
                        "address_unit_number": "205",
                        "address": "Bayswater Rd, Darlinghurst NSW 2010, Australia",
                        "dob": "1994-08-07",
                        "phone": "0478965432",
                        "email": "abc@ftery1.com"
                     }
                  }
               }
            }
      description: API to add user from Snaffle frontend to BOS in an incremental approach
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addUserSnaffle:
                      type: object
                      properties:
                        addUserSnaffle:
                          type: object
                          properties:
                            address:
                              type: string
                              minLength: 1
                            address_unit_number:
                              type: string
                              minLength: 1
                            dob_day:
                              type: string
                              minLength: 1
                            dob_month:
                              type: string
                              minLength: 1
                            dob_year:
                              type: string
                              minLength: 1
                            email:
                              type: string
                              minLength: 1
                            fname:
                              type: string
                              minLength: 1
                            lname:
                              type: string
                              minLength: 1
                            phone:
                              type: string
                              minLength: 1
                            title:
                              type: string
                              minLength: 1
                            step_no:
                              type: string
                              minLength: 1
                          required:
                            - address
                            - address_unit_number
                            - dob_day
                            - dob_month
                            - dob_year
                            - email
                            - fname
                            - lname
                            - phone
                            - title
                            - step_no
                      required:
                        - addUserSnaffle
                  required:
                    - addUserSnaffle
              required:
                - Body
            examples:
              Example request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="https://esscontacts.newpathstudio.com.au">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addUserSnaffle>
                  <dev:addUserSnaffle>
                  <address>Bayswater Rd, Darlinghurst NSW 2010, Australia</address>
                  <address_unit_number>205</address_unit_number>
                  <dob_day>07</dob_day>
                  <dob_month>08</dob_month>
                  <dob_year>1994</dob_year>
                  <email>test@user.com</email>
                  <fname>test</fname>
                  <lname>test</lname>
                  <phone>0478965432</phone>
                  <title>Mr</title>
                  <step_no>1</step_no>
                  </dev:addUserSnaffle>
                  </dev:addUserSnaffle>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: 'address,address_unit_number,dob_day,dob_month,dob_year,email,fname,lname,phone,title,step_no'
    parameters: []
  /addUserSnaffleStep2:
    post:
      summary: ''
      operationId: post-addUserSnaffleStep2
      responses:
        '200':
          description: Prospect Updated
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserSnaffleResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              status:
                                type: string
                                minLength: 1
                              message:
                                type: string
                                minLength: 1
                              prospect_id:
                                type: string
                                minLength: 1
                              title:
                                type: string
                                minLength: 1
                              fname:
                                type: string
                                minLength: 1
                              lname:
                                type: string
                                minLength: 1
                              address:
                                type: string
                                minLength: 1
                              dob_day:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                              drivers_licence:
                                type: string
                                minLength: 1
                              drivers_licence_state:
                                type: string
                                minLength: 1
                              drivers_licence_expiry:
                                type: string
                                minLength: 1
                              medicare_number:
                                type: string
                                minLength: 1
                              medicare_reference:
                                type: string
                                minLength: 1
                              medicare_name:
                                type: string
                                minLength: 1
                              medicare_colour:
                                type: string
                                minLength: 1
                              medicare_expiry:
                                type: string
                                minLength: 1
                              passport_number:
                                type: string
                                minLength: 1
                              passport_issued_by:
                                type: string
                                minLength: 1
                              avoid_verification:
                                type: string
                                minLength: 1
                              living_situation:
                                type: string
                                minLength: 1
                              shared:
                                type: string
                                minLength: 1
                              dependents:
                                type: string
                                minLength: 1
                            required:
                              - status
                              - message
                              - prospect_id
                              - title
                              - fname
                              - lname
                              - address
                              - dob_day
                              - phone
                              - email
                              - drivers_licence
                              - drivers_licence_state
                              - drivers_licence_expiry
                              - medicare_number
                              - medicare_reference
                              - medicare_name
                              - medicare_colour
                              - medicare_expiry
                              - passport_number
                              - passport_issued_by
                              - avoid_verification
                              - living_situation
                              - shared
                              - dependents
                        required:
                          - parameters
                    required:
                      - addUserSnaffleResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\t<SOAP-ENV:Body>\n\t\t<SOAP-ENV:addUserSnaffleResponse>\n\t\t\t<parameters>\n\t\t\t\t<status>200</status>\n\t\t\t\t<message>Prospect Step 2 Updated Current Step no is 3</message>\n\t\t\t\t<prospect_id>11</prospect_id>\n\t\t\t\t<title>Mr</title>\n\t\t\t\t<fname>test</fname>\n\t\t\t\t<lname>test</lname>\n\t\t\t\t<address>Bayswater Rd, Darlinghurst NSW 2010, Australia</address>\n\t\t\t\t<dob_day>1994-08-07</dob_day>\n\t\t\t\t<phone>0478965432</phone>\n\t\t\t\t<email>test@user.com</email>\n\t\t\t\t<drivers_licence>254789632P</drivers_licence>\n\t\t\t\t<drivers_licence_state>Australia</drivers_licence_state>\n\t\t\t\t<drivers_licence_expiry>1998-09-02</drivers_licence_expiry>\n\t\t\t\t<medicare_number>968573241O</medicare_number>\n\t\t\t\t<medicare_reference>6</medicare_reference>\n\t\t\t\t<medicare_name>test</medicare_name>\n\t\t\t\t<medicare_colour>Gre</medicare_colour>\n\t\t\t\t<medicare_expiry>2025-01-20</medicare_expiry>\n\t\t\t\t<passport_number>N976584</passport_number>\n\t\t\t\t<passport_issued_by>Australia</passport_issued_by>\n\t\t\t\t<avoid_verification>0</avoid_verification>\n\t\t\t\t<living_situation>Rent</living_situation>\n\t\t\t\t<shared>1</shared>\n\t\t\t\t<dependents>1</dependents>\n\t\t\t</parameters>\n\t\t</SOAP-ENV:addUserSnaffleResponse>\n\t</SOAP-ENV:Body>\n</SOAP-ENV:Envelope>"
      description: ''
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addUserSnaffle:
                      type: object
                      properties:
                        addUserSnaffle:
                          type: object
                          properties:
                            step_no:
                              type: string
                              minLength: 1
                            prospect_id:
                              type: string
                              minLength: 1
                            avoid_verification:
                              type: string
                              minLength: 1
                            include_drivers_licence:
                              type: string
                              minLength: 1
                            drivers_licence:
                              type: string
                              minLength: 1
                            drivers_licence_expiry:
                              type: string
                              minLength: 1
                            drivers_licence_state:
                              type: string
                              minLength: 1
                            include_medicare:
                              type: string
                              minLength: 1
                            medicare_colour:
                              type: string
                              minLength: 1
                            medicare_expiry:
                              type: string
                              minLength: 1
                            medicare_name:
                              type: string
                              minLength: 1
                            medicare_number:
                              type: string
                              minLength: 1
                            medicare_reference:
                              type: string
                              minLength: 1
                            include_passport:
                              type: string
                              minLength: 1
                            passport_issued_by:
                              type: string
                              minLength: 1
                            passport_number:
                              type: string
                              minLength: 1
                          required:
                            - step_no
                            - prospect_id
                            - avoid_verification
                            - include_drivers_licence
                            - drivers_licence
                            - drivers_licence_expiry
                            - drivers_licence_state
                            - include_medicare
                            - medicare_colour
                            - medicare_expiry
                            - medicare_name
                            - medicare_number
                            - medicare_reference
                            - include_passport
                            - passport_issued_by
                            - passport_number
                      required:
                        - addUserSnaffle
                  required:
                    - addUserSnaffle
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="https://esscontacts.newpathstudio.com.au">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addUserSnaffle>
                  <dev:addUserSnaffle>
                  <step_no>2</step_no>
                  <prospect_id>11</prospect_id>
                  <avoid_verification>0</avoid_verification>
                  <include_drivers_licence>1</include_drivers_licence>
                  <drivers_licence>254789632P</drivers_licence>
                  <drivers_licence_expiry>1998-09-02</drivers_licence_expiry>
                  <drivers_licence_state>Australia</drivers_licence_state>
                  <include_medicare>1</include_medicare>
                  <medicare_colour>Green</medicare_colour>
                  <medicare_expiry>2025-01-20</medicare_expiry>
                  <medicare_name>test</medicare_name>
                  <medicare_number>968573241O</medicare_number>
                  <medicare_reference>06</medicare_reference>
                  <include_passport>1</include_passport>
                  <passport_issued_by>Australia</passport_issued_by>
                  <passport_number>N976584</passport_number>
                  </dev:addUserSnaffle>
                  </dev:addUserSnaffle>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: 'step_no,prospect_id,avoid_verification,include_drivers_licence,drivers_licence,drivers_licence_expiry,drivers_licence_state,include_medicare,medicare_colour,medicare_expiry,medicare_name,medicare_number,medicare_reference,include_passport,passport_issued_by,passport_number'
  /addUserSnaffleStep3:
    post:
      summary: ''
      operationId: post-addUserSnaffleStep3
      responses:
        '200':
          description: Updated Prospect Data
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserSnaffleResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              status:
                                type: string
                                minLength: 1
                              message:
                                type: string
                                minLength: 1
                              prospect_id:
                                type: string
                                minLength: 1
                              title:
                                type: string
                                minLength: 1
                              fname:
                                type: string
                                minLength: 1
                              lname:
                                type: string
                                minLength: 1
                              address:
                                type: string
                                minLength: 1
                              dob_day:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                              drivers_licence:
                                type: string
                                minLength: 1
                              drivers_licence_state:
                                type: string
                                minLength: 1
                              drivers_licence_expiry:
                                type: string
                                minLength: 1
                              medicare_number:
                                type: string
                                minLength: 1
                              medicare_reference:
                                type: string
                                minLength: 1
                              medicare_name:
                                type: string
                                minLength: 1
                              medicare_colour:
                                type: string
                                minLength: 1
                              medicare_expiry:
                                type: string
                                minLength: 1
                              passport_number:
                                type: string
                                minLength: 1
                              passport_issued_by:
                                type: string
                                minLength: 1
                              avoid_verification:
                                type: string
                                minLength: 1
                              living_situation:
                                type: string
                                minLength: 1
                              shared:
                                type: string
                                minLength: 1
                              dependents:
                                type: string
                                minLength: 1
                            required:
                              - status
                              - message
                              - prospect_id
                              - title
                              - fname
                              - lname
                              - address
                              - dob_day
                              - phone
                              - email
                              - drivers_licence
                              - drivers_licence_state
                              - drivers_licence_expiry
                              - medicare_number
                              - medicare_reference
                              - medicare_name
                              - medicare_colour
                              - medicare_expiry
                              - passport_number
                              - passport_issued_by
                              - avoid_verification
                              - living_situation
                              - shared
                              - dependents
                        required:
                          - parameters
                    required:
                      - addUserSnaffleResponse
                required:
                  - Body
              examples:
                Example Response:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\t<SOAP-ENV:Body>\n\t\t<SOAP-ENV:addUserSnaffleResponse>\n\t\t\t<parameters>\n\t\t\t\t<status>200</status>\n\t\t\t\t<message>Prospect Step 3 Completed</message>\n\t\t\t\t<prospect_id>11</prospect_id>\n\t\t\t\t<title>Mr</title>\n\t\t\t\t<fname>test</fname>\n\t\t\t\t<lname>test</lname>\n\t\t\t\t<address>Bayswater Rd, Darlinghurst NSW 2010, Australia</address>\n\t\t\t\t<dob_day>1994-08-07</dob_day>\n\t\t\t\t<phone>0478965432</phone>\n\t\t\t\t<email>test@user.com</email>\n\t\t\t\t<drivers_licence>254789632P</drivers_licence>\n\t\t\t\t<drivers_licence_state>Australia</drivers_licence_state>\n\t\t\t\t<drivers_licence_expiry>1998-09-02</drivers_licence_expiry>\n\t\t\t\t<medicare_number>968573241O</medicare_number>\n\t\t\t\t<medicare_reference>6</medicare_reference>\n\t\t\t\t<medicare_name>test</medicare_name>\n\t\t\t\t<medicare_colour>Gre</medicare_colour>\n\t\t\t\t<medicare_expiry>2025-01-20</medicare_expiry>\n\t\t\t\t<passport_number>N976584</passport_number>\n\t\t\t\t<passport_issued_by>Australia</passport_issued_by>\n\t\t\t\t<avoid_verification>0</avoid_verification>\n\t\t\t\t<living_situation>Rent</living_situation>\n\t\t\t\t<shared>1</shared>\n\t\t\t\t<dependents>1</dependents>\n\t\t\t</parameters>\n\t\t</SOAP-ENV:addUserSnaffleResponse>\n\t</SOAP-ENV:Body>\n</SOAP-ENV:Envelope>"
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addUserSnaffle:
                      type: object
                      properties:
                        addUserSnaffle:
                          type: object
                          properties:
                            step_no:
                              type: string
                              minLength: 1
                            prospect_id:
                              type: string
                              minLength: 1
                            living_situation:
                              type: string
                              minLength: 1
                            shared:
                              type: string
                              minLength: 1
                            dependents:
                              type: string
                              minLength: 1
                            relationship:
                              type: string
                              minLength: 1
                          required:
                            - step_no
                            - prospect_id
                            - living_situation
                            - shared
                            - dependents
                            - relationship
                      required:
                        - addUserSnaffle
                  required:
                    - addUserSnaffle
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="https://esscontacts.newpathstudio.com.au">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addUserSnaffle>
                  <dev:addUserSnaffle>
                  <step_no>3</step_no>
                  <prospect_id>11</prospect_id>
                  <living_situation>Rent</living_situation>
                  <shared>1</shared>
                  <dependents>1</dependents>
                  <relationship>Single</relationship>
                  </dev:addUserSnaffle>
                  </dev:addUserSnaffle>
                  </soapenv:Body>
                  </soapenv:Envelope>
  /addUserSnaffleStep4:
    post:
      summary: ''
      operationId: post-addUserSnaffleStep4
      responses:
        '200':
          description: Client Updated Data
          content:
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  Body:
                    type: object
                    properties:
                      addUserSnaffleResponse:
                        type: object
                        properties:
                          parameters:
                            type: object
                            properties:
                              status:
                                type: string
                                minLength: 1
                              message:
                                type: string
                                minLength: 1
                              prospect_id:
                                type: string
                                minLength: 1
                              title:
                                type: string
                                minLength: 1
                              fname:
                                type: string
                                minLength: 1
                              lname:
                                type: string
                                minLength: 1
                              address:
                                type: string
                                minLength: 1
                              dob_day:
                                type: string
                                minLength: 1
                              phone:
                                type: string
                                minLength: 1
                              email:
                                type: string
                                minLength: 1
                              drivers_licence:
                                type: string
                                minLength: 1
                              drivers_licence_state:
                                type: string
                                minLength: 1
                              drivers_licence_expiry:
                                type: string
                                minLength: 1
                              medicare_number:
                                type: string
                                minLength: 1
                              medicare_reference:
                                type: string
                                minLength: 1
                              medicare_name:
                                type: string
                                minLength: 1
                              medicare_colour:
                                type: string
                                minLength: 1
                              medicare_expiry:
                                type: string
                                minLength: 1
                              passport_number:
                                type: string
                                minLength: 1
                              passport_issued_by:
                                type: string
                                minLength: 1
                              avoid_verification:
                                type: string
                                minLength: 1
                              living_situation:
                                type: string
                                minLength: 1
                              shared:
                                type: string
                                minLength: 1
                              dependents:
                                type: string
                                minLength: 1
                              return_client_income:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  required:
                                    - type
                                    - frequency
                                    - amount
                                  properties:
                                    type:
                                      type: string
                                      minLength: 1
                                    frequency:
                                      type: string
                                      minLength: 1
                                    amount:
                                      type: string
                                      minLength: 1
                              return_client_deductions:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  required:
                                    - type
                                    - frequency
                                    - amount
                                    - id
                                  properties:
                                    type:
                                      type: string
                                      minLength: 1
                                    frequency:
                                      type: string
                                      minLength: 1
                                    amount:
                                      type: string
                                      minLength: 1
                                    id:
                                      type: string
                                      minLength: 1
                            required:
                              - status
                              - message
                              - prospect_id
                              - title
                              - fname
                              - lname
                              - address
                              - dob_day
                              - phone
                              - email
                              - drivers_licence
                              - drivers_licence_state
                              - drivers_licence_expiry
                              - medicare_number
                              - medicare_reference
                              - medicare_name
                              - medicare_colour
                              - medicare_expiry
                              - passport_number
                              - passport_issued_by
                              - avoid_verification
                              - living_situation
                              - shared
                              - dependents
                              - return_client_income
                              - return_client_deductions
                        required:
                          - parameters
                    required:
                      - addUserSnaffleResponse
                required:
                  - Body
              examples:
                Example Request:
                  value: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\">\n\t<SOAP-ENV:Body>\n\t\t<SOAP-ENV:addUserSnaffleResponse>\n\t\t\t<parameters>\n\t\t\t\t<status>200</status>\n\t\t\t\t<message>Prospect Step 4 Completed</message>\n\t\t\t\t<prospect_id>11</prospect_id>\n\t\t\t\t<title>Mr</title>\n\t\t\t\t<fname>test</fname>\n\t\t\t\t<lname>test</lname>\n\t\t\t\t<address>Bayswater Rd, Darlinghurst NSW 2010, Australia</address>\n\t\t\t\t<dob_day>1994-08-07</dob_day>\n\t\t\t\t<phone>0478965432</phone>\n\t\t\t\t<email>test@user.com</email>\n\t\t\t\t<drivers_licence>254789632P</drivers_licence>\n\t\t\t\t<drivers_licence_state>Australia</drivers_licence_state>\n\t\t\t\t<drivers_licence_expiry>1998-09-02</drivers_licence_expiry>\n\t\t\t\t<medicare_number>968573241O</medicare_number>\n\t\t\t\t<medicare_reference>6</medicare_reference>\n\t\t\t\t<medicare_name>test</medicare_name>\n\t\t\t\t<medicare_colour>Gre</medicare_colour>\n\t\t\t\t<medicare_expiry>2025-01-20</medicare_expiry>\n\t\t\t\t<passport_number>N976584</passport_number>\n\t\t\t\t<passport_issued_by>Australia</passport_issued_by>\n\t\t\t\t<avoid_verification>0</avoid_verification>\n\t\t\t\t<living_situation>Rent</living_situation>\n\t\t\t\t<shared>1</shared>\n\t\t\t\t<dependents>1</dependents>\n\t\t\t\t<return_client_income>\n\t\t\t\t\t<return_income>\n\t\t\t\t\t\t<type>1</type>\n\t\t\t\t\t\t<frequency>1</frequency>\n\t\t\t\t\t\t<amount>100</amount>\n\t\t\t\t\t</return_income>\n\t\t\t\t\t<return_income>\n\t\t\t\t\t\t<type>2</type>\n\t\t\t\t\t\t<frequency>1</frequency>\n\t\t\t\t\t\t<amount>500</amount>\n\t\t\t\t\t</return_income>\n\t\t\t\t</return_client_income>\n\t\t\t\t<return_client_deductions>\n\t\t\t\t\t<return_deductions>\n\t\t\t\t\t\t<type>1</type>\n\t\t\t\t\t\t<frequency>1</frequency>\n\t\t\t\t\t\t<amount>200</amount>\n\t\t\t\t\t\t<id>1</id>\n\t\t\t\t\t</return_deductions>\n\t\t\t\t\t<return_deductions>\n\t\t\t\t\t\t<type>2</type>\n\t\t\t\t\t\t<frequency>1</frequency>\n\t\t\t\t\t\t<amount>400</amount>\n\t\t\t\t\t\t<id>2</id>\n\t\t\t\t\t</return_deductions>\n\t\t\t\t</return_client_deductions>\n\t\t\t</parameters>\n\t\t</SOAP-ENV:addUserSnaffleResponse>\n\t</SOAP-ENV:Body>\n</SOAP-ENV:Envelope>"
      description: ''
      requestBody:
        content:
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                Header: {}
                Body:
                  type: object
                  properties:
                    addUserSnaffle:
                      type: object
                      properties:
                        addUserSnaffle:
                          type: object
                          properties:
                            step_no:
                              type: string
                              minLength: 1
                            prospect_id:
                              type: string
                              minLength: 1
                            client_income:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                required:
                                  - type
                                  - frequency
                                  - amount
                                properties:
                                  type:
                                    type: string
                                    minLength: 1
                                  frequency:
                                    type: string
                                    minLength: 1
                                  amount:
                                    type: string
                                    minLength: 1
                            client_deductions:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                required:
                                  - type
                                  - frequency
                                  - amount
                                  - id
                                properties:
                                  type:
                                    type: string
                                    minLength: 1
                                  frequency:
                                    type: string
                                    minLength: 1
                                  amount:
                                    type: string
                                    minLength: 1
                                  id:
                                    type: string
                                    minLength: 1
                          required:
                            - step_no
                            - prospect_id
                            - client_income
                            - client_deductions
                      required:
                        - addUserSnaffle
                  required:
                    - addUserSnaffle
              required:
                - Body
            examples:
              Example Request:
                value: |-
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:dev="https://esscontacts.newpathstudio.com.au">
                  <soapenv:Header/>
                  <soapenv:Body>
                  <dev:addUserSnaffle>
                  <dev:addUserSnaffle>
                  <step_no>4</step_no>
                  <prospect_id>8</prospect_id>
                  <client_income>
                  <income>
                  <type>1</type>
                  <frequency>1</frequency>
                  <amount>100</amount>
                  </income>
                  <income>
                  <type>2</type>
                  <frequency>1</frequency>
                  <amount>500</amount>
                  </income>
                  </client_income>
                  <client_deductions>
                  <deductions>
                  <type>1</type>
                  <frequency>1</frequency>
                  <amount>200</amount>
                  <id>1</id>
                  </deductions>
                  <deductions>
                  <type>2</type>
                  <frequency>1</frequency>
                  <amount>400</amount>
                  <id>2</id>
                  </deductions>
                  </client_deductions>
                  </dev:addUserSnaffle>
                  </dev:addUserSnaffle>
                  </soapenv:Body>
                  </soapenv:Envelope>
        description: |2-






           step_no,
                      prospect_id,
                      client_income[{
                            type,
                            frequency,
                            amount
                         },
                         {
                            type,
                            frequency,
                            amount
                         }
                      ],
                      client_deductions: [
                         {
                            type,
                            frequency,
                            amount,
                            id
                         },
                         {
                            type,
                            frequency,
                            amount,
                            id
                         }
                      ]
components:
  schemas: {}
  securitySchemes:
    Username:
      type: http
      scheme: basic
    Password:
      type: http
      scheme: basic
  examples: {}
